#triniti_007 i,
#triniti_001 i,
#triniti_002 i,
#triniti_003 i,
#triniti_004 i,
#triniti_005 i,
#triniti_006 i,
#triniti_008 i,
#triniti_011 i {
    background: url('../../images/triniti.png') no-repeat;
}

#triniti_001 i { background-position: -0px -0px; width: 39px; height: 93px; }
#triniti_002 i { background-position: -0px -651px; width: 38px; height: 93px; }
#triniti_003 i { background-position: -0px -93px; width: 39px; height: 93px; }
#triniti_004 i { background-position: -0px -186px; width: 39px; height: 93px; }
#triniti_005 i { background-position: -0px -279px; width: 39px; height: 93px; }
#triniti_006 i { background-position: -0px -372px; width: 39px; height: 93px; }
#triniti_007 i { background-position: -0px -744px; width: 38px; height: 93px; }
#triniti_008 i { background-position: -0px -465px; width: 39px; height: 93px; }
#triniti_011 i { background-position: -0px -558px; width: 39px; height: 93px; }